.all-listingTable-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.6rem;
}

.ant-pagination-options {
  order: -1;
  align-self: flex-start;
  flex-grow: 1 !important;
  margin-inline-start: 0 !important;
}
.ant-table-content{
  overflow: scroll;
}
.ant-input{
  height: 50px;
  padding-left: 20px;
}
.ant-btn{
  height: 50px !important;
  padding-right: 20px !important;
  width: auto !important;
  padding-left: 20px !important;
}
.ant-select{
  height: 50px;
}
.ant-select-selector{
  padding-left: 20px !important;
  padding-right: 20px !important;
}